@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f9f9f9;
}
p{
  padding: 0;
  margin: 0;
}
.hidden{
  display: none !important;
}
.visible{
  display: flex;
}

.wrapper{
  width: 800px;
  margin: 0 auto;
}

header .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
header .wrapper h1{
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  /* background-color: brown; */
}

/* add-section  */
.add-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.add-section .wrapper p{
  font-size: 2rem;
  font-weight: 600;
}
/* .add-section .wrapper button{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
} */


/* contents */
.contents.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents input.searchInput{
  background: url("./assests/img/search-icon.png") top 12px left 8px no-repeat;
  background-size: 25px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contents.wrapper input:focus{
  outline: blue;
}
.contents.wrapper .content-list{
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.621);
  background-color: white;

}

.content-list .list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.content-list .list:not(:last-child){
  border-bottom: 1px solid gray;
}

.content-list .list .number p{
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.content-list .list .number span{
  font-size: 16px;
  color: grey;
}




/* Edit contacts  */
form.list .edit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

form.list .edit .fileds{
  display: flex;
}
form.list .edit .fileds input{
  margin-right: 10px;
}





/* add-form  */

.add-form{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.744);
  display: flex;
  align-items: center;
  justify-content: center;
}



/* loading  */
.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  /****** center box
    width: 300px;
    height: 300px;
    border: solid 1px #aaa;
    ******/
}
.loader-circle-6 {
  animation: loader-circle-6-spin 1s linear infinite;
  border: solid 5px #bbb;
  border-top: solid 5px transparent;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: inline-block;
}

@keyframes loader-circle-6-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

